/*body#gsr.hp.vasq{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRj4Zjaoqzh3kWn00h0Onx-81RPDaei3b6mWQ&usqp=CAU");
}*/
div.gb_xe.gb_R.gb_Me.gb_Ee {
    font-weight: bold;
    font-size: 15px;
}